.Wrapper {
  width: 80%;
  height: 100vh;
  background-color: #f7f7f7;
  margin: 0 auto;
}
/* Wrapper */

.Nav {
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav img {
  width: 100px;
}

.Nav .title {
  font-size: 1.5rem;
  font-weight: bold;
}

button.link-btn {
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 17px;
}

.Nav .btn-box .link-btn {
  display: inline-block;
  border-radius: 24px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  color: #000;
  transition: 0.8s;
}

.Nav .btn-box .link-btn:hover {
  background-color: black;
  color: white;
}

/* Nav */

.table {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

.table > p:first-child {
  flex: 1.2;
}

.table > p:nth-child(2) {
  flex: 3;
}
.table > p:nth-child(3),
p:nth-child(4) {
  flex: 1.7;
}
.table > p:nth-child(5) {
  flex: 1;
}
/* MYPAGE */
